src/programs/Utilities/hddm/event.xsd.test

<?xml version="1.0" encoding="iso-8859-1" standalone="no" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.gluex.org/hddm" xmlns="http://www.gluex.org/hddm" xmlns:hddm="http://www.gluex.org/hddm">

  <xs:simpleType name="int">
    <xs:restriction base="xs:int"/>
  </xs:simpleType>

  <xs:simpleType name="long">
    <xs:restriction base="xs:long"/>
  </xs:simpleType>

  <xs:simpleType name="float">
    <xs:restriction base="xs:float"/>
  </xs:simpleType>

  <xs:simpleType name="double">
    <xs:restriction base="xs:double"/>
  </xs:simpleType>

  <xs:simpleType name="boolean">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>

  <xs:simpleType name="string">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="anyURI">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>

  <xs:simpleType name="Particle_t">
    <xs:restriction base="xs:string">
      <xs:enumeration value="unknown"/>
      <xs:enumeration value="gamma"/>
      <xs:enumeration value="positron"/>
      <xs:enumeration value="electron"/>
      <xs:enumeration value="neutrino"/>
      <xs:enumeration value="mu+"/>
      <xs:enumeration value="mu-"/>
      <xs:enumeration value="pi0"/>
      <xs:enumeration value="pi+"/>
      <xs:enumeration value="pi-"/>
      <xs:enumeration value="kL"/>
      <xs:enumeration value="k+"/>
      <xs:enumeration value="k-"/>
      <xs:enumeration value="neutron"/>
      <xs:enumeration value="proton"/>
      <xs:enumeration value="antiProton"/>
      <xs:enumeration value="kS"/>
      <xs:enumeration value="eta"/>
      <xs:enumeration value="Lambda"/>
      <xs:enumeration value="Sigma+"/>
      <xs:enumeration value="Sigma0"/>
      <xs:enumeration value="Sigma-"/>
      <xs:enumeration value="Xi0"/>
      <xs:enumeration value="Xi-"/>
      <xs:enumeration value="Omega-"/>
      <xs:enumeration value="antiNeutron"/>
      <xs:enumeration value="antiLambda"/>
      <xs:enumeration value="antiSigma-"/>
      <xs:enumeration value="antiSigma0"/>
      <xs:enumeration value="antiSigma+"/>
      <xs:enumeration value="antiXi0"/>
      <xs:enumeration value="antiXi+"/>
      <xs:enumeration value="antiOmega+"/>
      <xs:enumeration value="rho0"/>
      <xs:enumeration value="rho+"/>
      <xs:enumeration value="rho-"/>
      <xs:enumeration value="omega"/>
      <xs:enumeration value="etaPrime"/>
      <xs:enumeration value="phi"/>
      <xs:enumeration value="a0_980"/>
      <xs:enumeration value="f0_980"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="momentum">
    <xs:complexType>
      <xs:attribute name="px" type="hddm:float" use="required"/>
      <xs:attribute name="py" type="hddm:float" use="required"/>
      <xs:attribute name="pz" type="hddm:float" use="required"/>
      <xs:attribute name="E" type="hddm:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="properties">
    <xs:complexType>
      <xs:attribute name="charge" type="hddm:int" use="required"/>
      <xs:attribute name="mass" type="hddm:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="beam">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="hddm:momentum"/>
        <xs:element ref="hddm:properties"/>
      </xs:sequence>
      <xs:attribute name="type" type="hddm:Particle_t" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="target">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="hddm:momentum"/>
        <xs:element ref="hddm:properties"/>
      </xs:sequence>
      <xs:attribute name="type" type="hddm:Particle_t" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="product">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="hddm:momentum"/>
        <xs:element ref="hddm:properties"/>
      </xs:sequence>
      <xs:attribute name="type" type="hddm:Particle_t" use="required"/>
      <xs:attribute name="decayVertex" type="hddm:int" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="origin">
    <xs:complexType>
      <xs:attribute name="vx" type="hddm:float" use="required"/>
      <xs:attribute name="vy" type="hddm:float" use="required"/>
      <xs:attribute name="vz" type="hddm:float" use="required"/>
      <xs:attribute name="t" type="hddm:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="vertex">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="hddm:product"/>
        <xs:element ref="hddm:origin"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="reaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="hddm:beam"/>
        <xs:element minOccurs="0" ref="hddm:target"/>
        <xs:element maxOccurs="unbounded" ref="hddm:vertex"/>
      </xs:sequence>
      <xs:attribute name="type" type="hddm:int" use="required"/>
      <xs:attribute name="weight" type="hddm:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="hit">
    <xs:complexType>
      <xs:attribute name="t" type="hddm:float" use="required"/>
      <xs:attribute name="dE" type="hddm:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="cdcPoint">
    <xs:complexType>
      <xs:attribute name="z" type="hddm:float" use="required"/>
      <xs:attribute name="r" type="hddm:float" use="required"/>
      <xs:attribute name="phi" type="hddm:float" use="required"/>
      <xs:attribute name="dradius" type="hddm:float" use="required"/>
      <xs:attribute name="track" type="hddm:int" use="required"/>
      <xs:attribute name="primary" type="hddm:boolean" use="required"/>
      <xs:attribute name="dEdx" type="hddm:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="straw">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hddm:hit"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hddm:cdcPoint"/>
      </xs:sequence>
      <xs:attribute name="phim" type="hddm:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="ring">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="hddm:straw"/>
      </xs:sequence>
      <xs:attribute name="radius" type="hddm:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="centralDC">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hddm:ring"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="strip">
    <xs:complexType>
      <xs:attribute name="u" type="hddm:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="cathodePlane">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="hddm:strip"/>
      </xs:sequence>
      <xs:attribute name="z" type="hddm:float" use="required"/>
      <xs:attribute name="tau" type="hddm:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="fdcPoint">
    <xs:complexType>
      <xs:attribute name="z" type="hddm:float" use="required"/>
      <xs:attribute name="x" type="hddm:float" use="required"/>
      <xs:attribute name="y" type="hddm:float" use="required"/>
      <xs:attribute name="dradius" type="hddm:float" use="required"/>
      <xs:attribute name="track" type="hddm:int" use="required"/>
      <xs:attribute name="primary" type="hddm:boolean" use="required"/>
      <xs:attribute name="dEdx" type="hddm:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="wire">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hddm:hit"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hddm:fdcPoint"/>
      </xs:sequence>
      <xs:attribute name="u" type="hddm:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="anodePlane">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="hddm:wire"/>
      </xs:sequence>
      <xs:attribute name="z" type="hddm:float" use="required"/>
      <xs:attribute name="tau" type="hddm:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="chamber">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hddm:cathodePlane"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hddm:anodePlane"/>
      </xs:sequence>
      <xs:attribute name="module" type="hddm:int" use="required"/>
      <xs:attribute name="layer" type="hddm:int" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="forwardDC">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="hddm:chamber"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="paddle">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hddm:hit"/>
      </xs:sequence>
      <xs:attribute name="phim" type="hddm:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="startPoint">
    <xs:complexType>
      <xs:attribute name="t" type="hddm:float" use="required"/>
      <xs:attribute name="z" type="hddm:float" use="required"/>
      <xs:attribute name="r" type="hddm:float" use="required"/>
      <xs:attribute name="phi" type="hddm:float" use="required"/>
      <xs:attribute name="track" type="hddm:int" use="required"/>
      <xs:attribute name="primary" type="hddm:boolean" use="required"/>
      <xs:attribute name="dEdx" type="hddm:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="startCntr">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hddm:paddle"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hddm:startPoint"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="shower">
    <xs:complexType>
      <xs:attribute name="t" type="hddm:float" use="required"/>
      <xs:attribute name="E" type="hddm:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="upstream">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="hddm:shower"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="downstream">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="hddm:shower"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="cone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="hddm:upstream"/>
        <xs:element minOccurs="0" ref="hddm:downstream"/>
      </xs:sequence>
      <xs:attribute name="sector" type="hddm:int" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="shell">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="hddm:cone"/>
      </xs:sequence>
      <xs:attribute name="layer" type="hddm:int" use="required"/>
    </xs:complexType>
  </xs:element>


  <xs:element name="mod">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="hddm:shell"/>
      </xs:sequence>
      <xs:attribute name="module" type="hddm:int" use="required"/>
    </xs:complexType>
  </xs:element>


  <xs:element name="barrelShower">
    <xs:complexType>
      <xs:attribute name="t" type="hddm:float" use="required"/>
      <xs:attribute name="z" type="hddm:float" use="required"/>
      <xs:attribute name="phi" type="hddm:float" use="required"/>
      <xs:attribute name="r" type="hddm:float" use="required"/>
      <xs:attribute name="E" type="hddm:float" use="required"/>
      <xs:attribute name="track" type="hddm:int" use="required"/>
      <xs:attribute name="primary" type="hddm:boolean" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="barrelEMcal">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hddm:mod"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hddm:barrelShower"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="flash">
    <xs:complexType>
      <xs:attribute name="t" type="hddm:float" use="required"/>
      <xs:attribute name="pe" type="hddm:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="section">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="hddm:flash"/>
      </xs:sequence>
      <xs:attribute name="phim" type="hddm:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="cerenkovPoint">
    <xs:complexType>
      <xs:attribute name="t" type="hddm:float" use="required"/>
      <xs:attribute name="z" type="hddm:float" use="required"/>
      <xs:attribute name="x" type="hddm:float" use="required"/>
      <xs:attribute name="y" type="hddm:float" use="required"/>
      <xs:attribute name="E" type="hddm:float" use="required"/>
      <xs:attribute name="px" type="hddm:float" use="required"/>
      <xs:attribute name="py" type="hddm:float" use="required"/>
      <xs:attribute name="pz" type="hddm:float" use="required"/>
      <xs:attribute name="track" type="hddm:int" use="required"/>
      <xs:attribute name="primary" type="hddm:boolean" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Cerenkov">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="hddm:section"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hddm:cerenkovPoint"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="left">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="hddm:hit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="right">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="hddm:hit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="hcounter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="hddm:left"/>
        <xs:element minOccurs="0" ref="hddm:right"/>
      </xs:sequence>
      <xs:attribute name="y" type="hddm:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="top">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="hddm:hit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="bottom">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="hddm:hit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="vcounter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="hddm:top"/>
        <xs:element minOccurs="0" ref="hddm:bottom"/>
      </xs:sequence>
      <xs:attribute name="x" type="hddm:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="tofPoint">
    <xs:complexType>
      <xs:attribute name="t" type="hddm:float" use="required"/>
      <xs:attribute name="x" type="hddm:float" use="required"/>
      <xs:attribute name="y" type="hddm:float" use="required"/>
      <xs:attribute name="z" type="hddm:float" use="required"/>
      <xs:attribute name="track" type="hddm:int" use="required"/>
      <xs:attribute name="primary" type="hddm:boolean" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="forwardTOF">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hddm:hcounter"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hddm:vcounter"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hddm:tofPoint"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="column">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="hddm:shower"/>
      </xs:sequence>
      <xs:attribute name="x" type="hddm:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="row">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hddm:column"/>
      </xs:sequence>
      <xs:attribute name="y" type="hddm:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="forwardShower">
    <xs:complexType>
      <xs:attribute name="t" type="hddm:float" use="required"/>
      <xs:attribute name="x" type="hddm:float" use="required"/>
      <xs:attribute name="y" type="hddm:float" use="required"/>
      <xs:attribute name="z" type="hddm:float" use="required"/>
      <xs:attribute name="E" type="hddm:float" use="required"/>
      <xs:attribute name="track" type="hddm:int" use="required"/>
      <xs:attribute name="primary" type="hddm:boolean" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="forwardEMcal">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hddm:row"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hddm:forwardShower"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="upvLeft">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="hddm:shower"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="upvRight">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="hddm:shower"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="upvRow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="hddm:upvLeft"/>
        <xs:element minOccurs="0" ref="hddm:upvRight"/>
      </xs:sequence>
      <xs:attribute name="y" type="hddm:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="upvPaddle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="hddm:upvLeft"/>
        <xs:element minOccurs="0" ref="hddm:upvRight"/>
      </xs:sequence>
      <xs:attribute name="y" type="hddm:float" use="required"/>
      <xs:attribute name="z" type="hddm:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="upvShower">
    <xs:complexType>
      <xs:attribute name="t" type="hddm:float" use="required"/>
      <xs:attribute name="x" type="hddm:float" use="required"/>
      <xs:attribute name="y" type="hddm:float" use="required"/>
      <xs:attribute name="z" type="hddm:float" use="required"/>
      <xs:attribute name="E" type="hddm:float" use="required"/>
      <xs:attribute name="track" type="hddm:int" use="required"/>
      <xs:attribute name="primary" type="hddm:boolean" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="upstreamEMveto">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hddm:upvRow"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hddm:upvPaddle"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hddm:upvShower"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="hitView">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="hddm:centralDC"/>
        <xs:element minOccurs="0" ref="hddm:forwardDC"/>
        <xs:element minOccurs="0" ref="hddm:startCntr"/>
        <xs:element minOccurs="0" ref="hddm:barrelEMcal"/>
        <xs:element minOccurs="0" ref="hddm:Cerenkov"/>
        <xs:element minOccurs="0" ref="hddm:forwardTOF"/>
        <xs:element minOccurs="0" ref="hddm:forwardEMcal"/>
        <xs:element minOccurs="0" ref="hddm:upstreamEMveto"/>
      </xs:sequence>
      <xs:attribute fixed="1.0" name="version" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="physicsEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hddm:reaction"/>
        <xs:element ref="hddm:hitView"/>
      </xs:sequence>
      <xs:attribute name="eventNo" type="hddm:int" use="required"/>
      <xs:attribute name="runNo" type="hddm:int" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="HDDM">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="hddm:physicsEvent"/>
      </xs:sequence>
      <xs:attribute fixed="s" name="class" type="xs:string" use="required"/>
      <xs:attribute fixed="1.0" name="version" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
